/* changes the menu button to act the way it did in Australis */
#edit-controls, #zoom-controls{
  height: 15px;
}

#edit-controls .toolbarbutton-1 .toolbarbutton-icon, #zoom-controls .toolbarbutton-1 .toolbarbutton-icon{
  width: 18px !important;
  height: 18px !important;
}

#zoom-reset-button, #zoom-controls .toolbarbutton-1 .toolbarbutton-text{
  margin-top: -6px !important;
}

#edit-controls .toolbarbutton-1 .toolbarbutton-text{
    margin-top: -10px !important;

}

#edit-controls .toolbarbutton-1, #zoom-controls .toolbarbutton-1{
  -moz-box-orient: horizontal!important;
}

panelview .toolbarbutton-1:-moz-any(:hover, :focus):not(:-moz-any([disabled], [open], :active)), toolbarbutton.subviewbutton:-moz-any(:hover, :focus):not(:-moz-any([disabled], [open], :active)), menu.subviewbutton[_moz-menuactive]:not(:-moz-any([disabled], :active)), menuitem.subviewbutton[_moz-menuactive]:not(:-moz-any([disabled], :active)), .widget-overflow-list .toolbarbutton-1:-moz-any(:hover, :focus):not(:-moz-any([disabled], [open], :active)), .toolbaritem-combined-buttons:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:-moz-any(:hover, :focus):not(:-moz-any([disabled], [open], :active)){
  box-shadow: 0px 0px 1px 0px grey inset;
}

#customization-panelHolder > #widget-overflow-fixed-list{
  display: initial !important;
}


[anonid="type-icon-spacer"]{
  width: 0px !important;
}

#widget-overflow-fixed-list .subviewbutton-nav::after{
  content: unset !important;
}

.widget-overflow-list .toolbarbutton-1{
  -moz-box-align: center !important;
  -moz-box-orient: vertical!important;
  height: 75.4px !important;
  padding-top: 10px !important;
  width: 82px !important;
}

.widget-overflow-list .toolbarbutton-1:hover{
  border: 1px !important;
}

.widget-overflow-list .toolbarbutton-1  > .toolbarbutton-text{
  padding-top: 6px;
  padding-inline-start: 0em !important;
  padding-inline-end: 1px !important;
}

.widget-overflow-list .toolbarbutton-1  > .toolbarbutton-icon{
  width: 27px !important;
  opacity: 0.8 !important;
}

#widget-overflow-mainView .panel-subview-body{
  display: grid;
}

#widget-overflow-mainView .panel-subview-body{
  overflow: unset;
}

photonpanelmultiview .panel-subview-body{
  padding: 6px 10px !important;
}

#widget-overflow-fixed-list{
  display: grid;
  grid-template-columns: auto auto auto;
}

.titlebar-button:hover {
    background-color: Highlight !important;
}



/* removes the hamburger button */
#PanelUI-button {
  visibility: collapse !important;
}


/* use the hamburger button icon*/
#PlacesChevron, #nav-bar-overflow-button{
  list-style-image: url("chrome://browser/skin/menu.svg") !important;
}
