/* remove the border on top and bottom of the nav bar*/
#nav-bar {
  box-shadow: 0 0 0 !important;
  border-top: 0px !important;
  background-color: transparent !important;
  margin-right: 130px !important;
}

:root:-moz-lwtheme {
  --toolbox-border-bottom-color: rgba(0,0,0,0) !important;
}


/*Move the tab line to bottom of a tab*/
.tabbrowser-tab .tab-line,
#TabsToolbar,
.tabbrowser-tab .tab-bottom-line {
  order: 1;
}


/* removes the alpha coloring of the navbar background*/
#nav-bar:-moz-lwtheme{
  background: rgba(255,255,255,0.0) !important;
}

/* remove 'dragging tab' margin/padding nonsense */
#TabsToolbar[movingtab] {
  padding-bottom: unset !important;
}

#TabsToolbar[movingtab] > .tabbrowser-tabs {
  padding-bottom: unset !important;
  margin-bottom: unset !important;
}

#TabsToolbar[movingtab] + #nav-bar {
  margin-top: unset !important;
}


/* tabs bar bottom borders */
#TabsToolbar{
  margin-bottom: 0px !important;
  border-bottom: 0px solid #5f7181 !important;
}




/* make the tabs bar go all the way to the end*/
#main-window[tabsintitlebar] #TabsToolbar .titlebar-placeholder{
  visibility: collapse !important;
}


/* Hide Top Items on Bookmark Menu Button drop-down */
#BMB_viewBookmarksSidebar, 
#BMB_bookmarksShowAllTop, 
#BMB_bookmarksShowAllTop + menuseparator, 
#BMB_recentBookmarks, 
#BMB_recentBookmarks + menuseparator, 
#BMB_bookmarksToolbar, 
#BMB_unsortedBookmarks, 
#BMB_mobileBookmarks, 
#BMB_mobileBookmarks + menuseparator {
  display: none !important;
}


/* Revert the tab loading icon to the old one */
.tab-throbber[busy]::before {
  background-image: url("chrome://global/skin/icons/loading.png") !important;
  animation: unset !important;
}
.tab-throbber[busy]:not([progress])::before {
  /* Grays the blue during "Connecting" state */
  filter: grayscale(100%);
}
@media (min-resolution: 2dppx) {
  .tab-throbber[busy]::before {
    background-image: url("chrome://global/skin/icons/loading@2x.png") !important;
  }
}


/* refresh button unified with the address bar*/
#page-action-buttons{
  margin-right: 26px !important;
}

#stop-reload-button .toolbarbutton-icon, #stop-button .toolbarbutton-icon, #reload-button .toolbarbutton-icon{
  fill: #333333;
  height: 24px !important;
  width: 28px !important;
  padding: 4px !important;
  position: absolute !important;
}

#stop-reload-button{
  transform: translateX(-36px);
  border-radius: 0px !important;
  z-index: 10 !important;
  margin-right: -32px;
  margin-top: 4px;
}

#wrapper-stop-reload-button .chromeclass-toolbar-additional{
  margin-right: 0px !important;
  transform: translateX(0px);
}

#stop-reload-button[animate="true"]{
  transform: translateX(-36px);
  opacity: 0.8;
}


/* hide 'disabled' forward button */
#forward-button[disabled="true"] {
  visibility: collapse !important;
  transition: visibility 150ms ease-out !important;
}

#forward-button:not([disabled="true"]) {
  visibility: visible !important;
  transition: visibility 150ms ease-out !important;
}


/** TABS BOTTOM **/
#TabsToolbar .titlebar-buttonbox-container {
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  height: 32px;
}

#toolbar-menubar[inactive] > .titlebar-buttonbox-container{ opacity: 0 }

:root[sizemode="maximized"] > #navigator-toolbox{ padding-top: 8px !important; }
:root[sizemode="maximized"] .titlebar-buttonbox-container{ top: 8px }

:root[uidensity="compact"] .titlebar-buttonbox-container{ height: 32px }
.titlebar-buttonbox-container > .titlebar-buttonbox{ height: 100%; }
#titlebar{
  order: 1;
  -moz-appearance: none !important;
}
:root[tabsintitlebar="true"] #nav-bar{
  padding-right: calc(138px + var(--window-drag-space-width,0px));
  padding-left: var(--window-drag-space-width,0px);
  padding-top: 4px;

}
.titlebar-placeholder,
#TabsToolbar .titlebar-spacer{ display: none; }
/* Also hide the toolbox bottom border which isn't at bottom with this setup */
#navigator-toolbox::after{ display: none !important; }




/* REMOVE MEGABAR START
 * VERSION 1.0.3
 * CODE AT: http://userchrome.wesleybranton.com/megabar
 * RELEASE NOTES: http://userchrome.wesleybranton.com/notes/megabar */
@-moz-document url(chrome://browser/content/browser.xhtml) {    
    #urlbar[breakout][breakout-extend] > #urlbar-input-container {
        height: var(--urlbar-height) !important;
        padding-block: 0 !important;
        padding-inline: 0 !important;
    }
    
    #urlbar[breakout][breakout-extend] > #urlbar-background {
        animation-name: none !important;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .05) !important;
    }
    /* DISABLE EXPANDING END */
    
    /* REMOVE URL RESULT PADDING START */
    .urlbarView {
        margin-inline: 0 !important;
        width: 100% !important;
    }

    .urlbarView-row {
        padding-block: 0 !important;
    }
    /* REMOVE URL RESULT PADDING END */
    
    /* MOVE URL RESULT TYPE ICON TO LEFT START */
    .urlbarView-type-icon {
        min-width: 16px !important;
        height: 16px !important;
        margin-bottom: 0 !important;
        margin-inline-start: 0 !important;
    }
    
    .urlbarView-favicon {
        margin-inline-start: 20px !important;
    }
    /* MOVE URL RESULT TYPE ICON TO LEFT END */
}
/* REMOVE MEGABAR END */



/* light theme context menu */
menupopup{
  --menuitem-hover-background-color: #e0e0e6 !important;
  --menu-background-color: #f9f9fb !important;
  --menu-color: #15141a !important;
  --menuitem-disabled-hover-background-color: rgba(224, 224, 230, 0.4) !important;
  --menu-disabled-color: rgba(21, 20, 26, 0.4) !important;
  --menu-border-color: #cfcfd8!important;
  --menu-icon-opacity: 0.7 !important;
}
menupopup > menuitem,
menupopup > menu{ padding-block: 0.3em !important; }


/* remove extra white space from the tabs toolbar */
#TabsToolbar {
  --proton-tab-block-margin: 0px !important;
}



/* move containers identity color to inside the tab, at the bottom*/
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  display: none;
}

.tabbrowser-tab[class*="identity-color-"] .tab-background {
  background: linear-gradient(0, var(--identity-tab-color) 4px, transparent 0);
}

.tabbrowser-tab[selected="true"][class*="identity-color-"] .tab-background {
  background: linear-gradient(0, var(--identity-tab-color) 4px, var(--toolbar-bgcolor, transparent) 0) !important;
}